addn-hosts=/var/lib/dnsmasq/home.hosts
dhcp-hostsfile=/var/lib/dnsmasq/home.dhcp
dhcp-range=10.27.0.128,10.27.0.253,12h

domain-needed
bogus-priv
filterwin2k
server=/.adml/172.19.0.1
expand-hosts
domain=home
domain=home,10.27.0.0/24
domain=priv,10.8.0.0/24

dhcp-option=option:router,10.27.0.1
dhcp-option=option:dns-server,10.27.0.100
dhcp-option=option:domain-name,home
dhcp-option=option:ntp-server,194.2.0.28
dhcp-option=option:log-server,10.27.0.2
dhcp-option=121,10.8.0.0/24,10.27.0.2,172.16.0.0/12,10.27.0.2
cache-size=1000
log-facility=/var/log/dnsmasq.log